@tailwind base;
@tailwind components;
@tailwind utilities;

.neumorphic {
  @apply bg-gray-300 rounded-xl;
  box-shadow: 2px 2px 3px #d1d9e6, -3px -3px 3px #ffffff;
}

.neumorphic-input {
  @apply bg-gray-300 border-none rounded-lg shadow-inner-neumorphic;
  box-shadow: inset 6px 6px 6px #d1d9e6, inset -6px -6px 6px #ffffff;
}

.neumorphic-button {
  @apply bg-gray-300 rounded-lg;
  box-shadow: 4px 4px 1px #d1d9e6, -4px -4px 5px #ffffff;
}
